.training-course{
	background-image: url("/sites/default/files/t.png");
}

.qualification {
	background-image: url("/sites/default/files/q.png");
}
  
.integrated-training {
	background-image: url("/sites/default/files/ita.png");
}  

.assessment {
	background-image: url("/sites/default/files/a.png");
}

.sector-scheme {
	background-image: url("/sites/default/files/t.png");
}

.eng1 {
	background-image: url("/sites/default/files/eng-1.png");
}

.eng2 {
	background-image: url("/sites/default/files/eng-2.png");
}

.eng3 {
	background-image: url("/sites/default/files/eng-3.png");
}

.eng4 {
	background-image: url("/sites/default/files/eng-4.png");
}

.eng5 {
	background-image: url("/sites/default/files/eng-5.png");
}

.eng6 {
	background-image: url("/sites/default/files/eng-6.png");
}

.eng7 {
	background-image: url("/sites/default/files/eng-7.png");
}

.eng8 {
	background-image: url("/sites/default/files/eng-8.png");
}


.scot1 {
	background-image: url("/sites/default/files/scot-1.png");
}

.scot2 {
	background-image: url("/sites/default/files/scot-2.png");
}

.scot3 {
	background-image: url("/sites/default/files/scot-3.png");
}

.scot4 {
	background-image: url("/sites/default/files/scot-4.png");
}

.scot5 {
	background-image: url("/sites/default/files/scot-5.png");
}

.scot6 {
	background-image: url("/sites/default/files/scot-6.png");
}

.scot7 {
	background-image: url("/sites/default/files/scot-7.png");
}

.scot8 {
	background-image: url("/sites/default/files/scot-8.png");
}

.scot9 {
	background-image: url("/sites/default/files/scot-9.png");
}

.scot10 {
	background-image: url("/sites/default/files/scot-10.png");
}

.scot11 {
	background-image: url("/sites/default/files/scot-11.png");
}

.scot12 {
	background-image: url("/sites/default/files/scot-12.png");
}